@{
    ViewBag.Title = "CheckOutSuccess";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="container" width="100%">
    <div id="box" style="text-align: center; margin-top:70px ">
        <img src="~/Asset/Common/Photos/Success.png" style="margin: 0 auto" width="150px" height="150px">
        <strong><h2 style="font-size: 55px">Thank you!</h2></strong>
        <p style="font-size: 20px;">Đơn hàng của bạn đang được xử lý, chúng tôi sẽ liên lạc sớm</p>
        <button type="button" onclick="location.href = '/'" class="btn btn-template-main" style="font-size: 20px; margin-top:15px; margin-bottom:20px">
            Tiếp tục mua hàng
        </button>
    </div>

</div>


@section Script {

}



